-# -*- mode:haml; -*-

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided
-# that the following conditions are met:
-#
-# Redistributions of source code must retain the above copyright notice, this list of conditions and the
-# following disclaimer.
-#
-# Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
-# the following disclaimer in the documentation and/or other materials provided with the distribution.
-#
-# Neither the name of salesforce.com, inc. nor the names of its contributors may be used to endorse or
-# promote products derived from this software without specific prior written permission.
-#
-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
-# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
-# PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
-# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
-# TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
-# HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
-# NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
-# POSSIBILITY OF SUCH DAMAGE.

- @title = 'CloudComfort'
- api_path = 'http://host.heroku.com/api/1/poll'
%h1 CloudComfort

%script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
:javascript
  $(document).ready(function() {
    $('#new_message').submit(function() {
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        /* not used yet: */
        $('#message').append("<p>" + data + "</p>");

        $('#new_message').each(function(){ this.reset(); });
      }, "text");
      alert("Settings sent to the AC.");
      return false;
    });
  });


%p
  - if @measured_temp
    The temperature of the room is: #{@measured_temp}
  - else
    The temperature is unknown.
    Please restart the sensor and point it at #{api_path}
%p
  - if @ac_power
    The A/C power is #{@ac_power}.
    - if @ac_power == 'on'
      %p
      - if @fan_speed
        The fan speed is #{@fan_speed}.

%h2 Change the A/C!
#message
%form#new_message{:action => '/queue'}
  %p
    %strong Desired Temperature (celsius):
    %input{:type => "text", :id => "desired_temp", :name => "desired_temp"}
  %p
    %strong A/C Power:
    %select{:id => "ac_power", :name => "ac_power"}
      %option{:value => "1"} On
      %option{:value => "0"} Off
  %p
    .formlabel Fan Speed:
    %select{:id => "fan_speed", :name => "fan_speed"}
      %option{:value => "0"} Low
      %option{:value => "1"} Medium
      %option{:value => "2"} High
  %p
    %input{:type => "submit", :value => "Make it so!"}
